.profile-1{
  width: 40px;
  border-radius: 50px;
}
.video-preview{
  display: flex;

  flex: 1fr;

  width: 300px;
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;



  

}
.thumbnail-row{
  margin-bottom: 10px;
  position: relative;
  z-index: 0;
  
}
.profile-picture{
  
  width: 50px;
  vertical-align: top;
}
.video-info{
 vertical-align: top;
}
.video-infogrid{
  display: grid;
  grid-template-columns: 50px 1fr;
  padding-bottom: 10PX;
}
.video-time{
  background-color: black;
  color:white ;
  font-family: Arial;
  font-weight: bold;
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 12px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
}


.video-title2{
       
  width: 250px;
  margin-bottom: 14px;

  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  line-height:23px;
}
.video-author2{
  font-family: Arial;
  color: grey;
  font-size: 14px;
  margin-bottom: 8px;
  
}
.video-stats2{
  font-family: Arial;
  color: grey;
  font-size: 14px;
  margin-top: 0px

}
.profile-2{
  width: 40px;
  border-radius: 50px;
}

.video-title3{
  
  width: 250px;
  margin-bottom: 14px;

  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  line-height:23px;
}
.video-author3{
  font-family: Arial;
  color: grey;
  font-size: 14px;
  margin-bottom: 8px;
  
}
.video-stats3{
  font-family: Arial;
  color: grey;
  font-size: 14px;
  margin-top: 0px

}
.profile-3{
  width: 40px;
  border-radius: 50px;
}

.video-title4{
  
  width: 250px;
  margin-bottom: 14px;

  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  line-height:23px;
}
.video-author4{
  font-family: Arial;
  color: grey;
  font-size: 14px;
  margin-bottom: 8px;
  
}
.video-stats4{
  font-family: Arial;
  color: grey;
  font-size: 14px;
  margin-top: 0px

}
.profile-4{
  width: 40px;
  border-radius: 50px;
}

.video-title5{
  
  width: 250px;
  margin-bottom: 14px;

  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  line-height:23px;
}
.video-author5{
  font-family: Arial;
  color: grey;
  font-size: 14px;
  margin-bottom: 8px;
  
}
.video-stats5{
  font-family: Arial;
  color: grey;
  font-size: 14px;
  margin-top: 0px

}
.profile-5{
  width: 40px;
  border-radius: 50px;
}

.video-title6{
  
  width: 250px;
  margin-bottom: 14px;

  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  line-height:23px;
}
.video-author6{
  font-family: Arial;
  color: grey;
  font-size: 14px;
  margin-bottom: 8px;
  
}
.video-stats6{
  font-family: Arial;
  color: grey;
  font-size: 14px;
  margin-top: 0px

}
.profile-6{
  width: 40px;
  border-radius: 50px;
}